spotify_popularity_model.pkl
*.pkl
*.model
cleaned_data.csv
processed_data.csv
logs/
*.log
.cache
.idea/
.vscode/
*.swp
*.swo
venv/
env/
*.env
__pycache__/
*.py[cod]
airflow.db
standalone_admin_password.txt
webserver_config.py
mlruns/
mlartifacts/
.DS_Store
Thumbs.db
*.ipynb_checkpoints